@import "tailwindcss";

/* Reset duro */
html, body, #root {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

html, body {
  padding-top: 0 !important;
}

:root {
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

/* Fondo consistente desde html */
html {
  background: #fff;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #fff;
  color: #0b1220; /* texto por defecto oscuro */
}

::selection {
  background: rgba(31,167,166,0.22);
}

:root {
  --nav-h: 0px;
}