@import "tailwindcss";

/* Reset duro */
html, body, #root {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

html, body {
  padding-top: 0 !important;
}

:root {
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

/* Fondo consistente desde html */
html {
  background: #070D17;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background:
    radial-gradient(1200px 700px at 10% 10%, rgba(31,167,166,0.14), transparent 60%),
    radial-gradient(1000px 600px at 90% 15%, rgba(182,90,34,0.13), transparent 58%),
    #070D17;

  color: #fff;
}

::selection {
  background: rgba(31,167,166,0.22);
}

:root {
  --nav-h: 0px;
}