@import "tailwindcss";

/* Reset duro */
html, body, #root {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

html, body {
  padding-top: 0 !important;
}

:root {
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

/* Fondo consistente desde html */
html {
  background: #fff;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #fff;
  color: #0b1220; /* texto por defecto oscuro */
}

::selection {
  background: rgba(31,167,166,0.22);
}

:root {
  --nav-h: 0px;
}


.leaflet-container { z-index: 0; }
.leaflet-control, .leaflet-pane { z-index: 1; }

.leaflet-control-zoom {
  border: 1px solid rgba(255,255,255,.12) !important;
  box-shadow: 0 18px 60px rgba(0,0,0,.45) !important;
  border-radius: 14px !important;
  overflow: hidden;
}
.leaflet-control-zoom a{
  background: rgba(15, 23, 42, .72) !important;
  color: rgba(255,255,255,.92) !important;
  border-bottom: 1px solid rgba(255,255,255,.10) !important;
}
.leaflet-control-zoom a:hover{ background: rgba(15, 23, 42, .88) !important; }

.leaflet-control-attribution{
  background: rgba(0,0,0,.35) !important;
  color: rgba(255,255,255,.75) !important;
  border: 1px solid rgba(255,255,255,.10) !important;
  border-radius: 10px !important;
  padding: 4px 8px !important;
  margin: 10px !important;
  backdrop-filter: blur(10px);
}
.leaflet-control-attribution a{ color: rgba(255,255,255,.9) !important; }
